.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    vertical-align: top;
    text-align: left;
    margin-top: 4%;
    margin-right: 85%;
    margin-bottom: 0%;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places .information {
    display: flex;
    justify-content: center;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
}

.information .img_group {
    background-image: url(../images/icon_group.png);
}

.information .img_rooms {
    background-image: url(../images/icon_bed.png);
}

.information .img_bath {
    background-image: url(../images/icon_bath.png);
}

.img_group, .img_bath, .img_rooms {
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 10% auto -10px 25%;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    width: 60px;
    margin: -63px 10px 10px 296px;
}

.price_by_night p {
    margin-top: 14px;
    font-size: 30px;
}

.user p {
    text-align: left;
}

.description p {
    text-align: left;
}